<div style="display: flex;justify-content: space-evenly; margin-bottom: 15px">

  <button *ngIf="isLoggedIn">
    <a routerLink="/request/add"> Add Request </a>
  </button>

  <button *ngIf="isLoggedIn">
    <a routerLink="/request/my-request"> List Request </a>
  </button>

  <button *ngIf="!isLoggedIn">
    <a routerLink="/register">Register</a>
  </button>

  <button *ngIf="!isLoggedIn">
    <a routerLink="/login">Login</a>
  </button>

  <button *ngIf="isLoggedIn">
    <a routerLink="/profile">Profile</a>
  </button>

  <button *ngIf="isLoggedIn">
    <a routerLink="/collection-process">Demands</a>
  </button>


  <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
</div>

